<h1 mat-dialog-title>About</h1>
<mat-dialog-content class="mat-typography">
  <h2>What is this?</h2>
  <p>
    This app fetches the top posts from each subreddit in the list.
    You can easily browse the most popular posts from many subreddits in one place.
  </p>
  <h2>How do I use it?</h2>
  <ul>
    <li>Type a subreddit's name in the search bar and hit Enter</li>
    <li>Import and export the list of subreddits as JSON files</li>
    <li>Set navigation keyboard shortcuts in the Settings</li>
    <li>Settings and the list of subreddits are cached in the browser's storage</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>